body{font-family: "微软雅黑";font-size:14px;-webkit-user-select: none;}
/*去掉谷歌的样式*/
input, button, select, textarea {
    outline: none;
}
/*字体位置/大小*/
.t_l{text-align: left;}
.t_c{text-align: center;}
.t_r{text-align: right;}
.font_size12{font-size: 12px;}
/*字体颜色*/
.cor_red{color: red;}
/*宽度/高*/
.w_point100{width: 100% !important;}
.w_point50{width: 50% !important;}
.w_point95{width: 95% !important;}
.h_300{height: 300px !important;}
/*单选按钮*/
input[type='radio'].radio {opacity:0;}
label.radio {text-align:center;width:80%; color: #686D77; border-radius: 2px; border: 1px solid #EEEEEE;padding: 5px 10px;display:inline-block;margin-bottom: 10px;}
input[type='radio'].radio:checked + .radio {border: 1px solid #07B1F0;color: #07B1F0;}
/*复选框*/    
input[type='checkbox'].checkbox {opacity:0;}
label.checkbox {text-align:center;width:80%;color: #686D77; border-radius: 2px; border: 1px solid #EEEEEE;padding: 5px 10px;display:inline-block;margin-bottom: 10px;}
input[type='checkbox'].checkbox:checked + .checkbox {border: 1px solid #07B1F0;color: #07B1F0;}
/*单选按钮*/
.layui-form-radio{ margin: 0 !important; padding: 0px !important; min-width: 90px;width: 90%; color: #646973; border-radius: 2px; border: 1px solid #CCCCCC; display: inline-block; text-align: center;line-height: 28px !important;}
.layui-form-radioed {border: 1px solid #07B1F0; background-color: #07B1F0; color: #fff;}
.layui-form-radio i{ display: none;}
.layui-form-radio span{padding: 0px 4px;}
/*宽度*/
.w_num34{width:calc(100% - 34%) !important;}
.question_nav{ height: 60px; line-height: 60px; background: #00aff0; position: fixed; z-index: 99999999; right: 0; left: 0; padding-right: 10px; padding-left: 10px; border-bottom: 0;}
.question_nav a{ color: #FFFFFF; text-decoration: none; font-size: 16px;}
.question_nav a:hover{ color: #FFFFFF;}
.question_nav .question_nav_left{ float: left;}
.question_nav .question_nav_right{ float: right;display: block;line-height: 60px; color: #FFFFFF;font-size: 16px;border: none;background-color: transparent;}
.question_nav .question_nav_right:focus{border: none;outline: none;}
.question_nav .question_title{right: 50px; left: 50px; overflow: hidden;  margin: 0; text-overflow: ellipsis; text-align: center; color: #FFFFFF; font-size: 18px;}
.nav_cont{ padding-top: 60px;border: 1px solid b;}
.nav_cont li{ height: 55px; line-height: 55px; background: #3474cc; border-bottom: 1px #FFFFFF solid; width: 100%;}
.nav_cont li a{ display: inline-block; color: #FFFFFF; padding-left: 10px; width: calc(100% - 20px); font-size: 15px;}
.nav_cont li a:hover{ text-decoration: none;}
.nav_cont li a i{ display: inline-block; width: 25px; height: 31px; line-height: 31px; padding-right: 5px;}
.nav_cont li a i img{ width: 100%; height: auto;}
.content{position: absolute;top:62px;left: 0;right:0;bottom: 0;
		/* 使之可以滚动 */overflow-y: scroll;
         /* 增加该属性，可以增加弹性，是滑动更加顺畅 */
		-webkit-overflow-scrolling: touch;font: 14px/1.2 "微软雅黑";}
.content::-webkit-scrollbar {width: 0;}    

.basic_info{color: #5C5C5C;padding:15px 10px;}
.basic_name{display: block;padding: 15px 0px 7px;}
.basic_name>strong{color:red;}
.basic_input{line-height:28px;width: 100%;height: 30px;}
.basic_input>input[type="text"]{width:calc( 100% - 10px);padding: 0px 5px;color: #CCCCCC;border-radius: 4px;border: none;height: 100%;border: 1px solid #E6E6E6; outline: none;-webkit-appearance: none;}
.basic_input>select{padding: 0px 5px;color: #CCCCCC;border: 1px solid #E6E6E6;height: 100%;width:100%;border-radius: 4px;height: 100%;outline: none;-webkit-appearance: none;background-color: transparent;}
.Lady_pro_dl{width: 100%;overflow: hidden;text-align: left;padding: 15px 0px;} 
.Lady_pro_dl dd{margin: 10px;}
.Lady_pro_dl dd>input[type="text"]{appearance: none;-webkit-appearance: none; text-align: center; width: 120px;border: none;border-bottom: 1px solid #CCCCCC;border-radius:0px;}
.Lady_pro_dl dd>span{vertical-align: sub;margin: 0px 5px;}
.form_group{font-size: 14px;}
.cell2_title{padding: 10px 2%;display: block;color:#3D4245;}
.cell2_choose{width: 100%;padding: 0;margin: 0;overflow: hidden;}
.cell2_choose li{width:49%;text-align: center;display: inline-block;}
/**客户ID**/
.khidbox{ position: relative;}
.khid{ position: absolute; top: 27px; left: 0; z-index: 999; width: 100%;max-height: 265px; overflow: hidden;}
.khid_title table{ margin:5px 0 0 0;}
.khid_cent table{ margin:0; border-top: none !important; border-bottom: none !important;}
.khid_cent::-webkit-scrollbar{ width: 0; height: 0;}
.khid_cent{max-height: 225px; overflow: auto; border-bottom: #e2e2e2 1px solid;}
.content_child{width: 100%;overflow: hidden;max-width: 100%;}
.title_h2{line-height: 40px;text-align: center;color:#E78410; font-size:15px;font-weight: bold; border-top: 10px solid #F5F5F5;}
.title_h4{margin:15px 10px 5px;font-size: 14px;position: relative;height: 15px;}
.title_h4 legend{font-size: 14px;color:#333333;position: absolute;margin-top: -10px;
    	  background-color: white; width: 90px;text-align: center;margin-left: -55px; left: 50%; top:0;}
.con_none{display: none;}
.legend02{width: 160px !important;margin-left: -90px !important;}
.con_none>span{vertical-align: middle;}
.con_chooser>input[type="text"]{-webkit-appearance:none;border:none;border-radius:0px;width:60px;color: #CCCCCC;border-bottom: 1px solid #E6E6E6;outline: none;}
.con_none>input,.con_input>input[type="text"]{border:none;border-radius:0px;width:60px;color: #CCCCCC;border-bottom: 1px solid #E6E6E6;}

/*复选框*/
.layui-form-checkbox{width: 90%;}
.layui-form-checked, .layui-form-checked:hover{border: 1px solid #07B1F0;color: #07B1F0;}
.layui-form-checked i, .layui-form-checked:hover i {color: #07B1F0;}
.layui-form-checked span, .layui-form-checked:hover span{background-color:#07B1F0;}
.layui-form-checkbox span{padding: 0 5px;width:calc(100% - 10px);}
/*一列*/
.cell1_dl{padding: 0 10px;margin: 0;overflow: hidden;max-width: 100%;}
.cell1_dl dt{margin: 20px 0px 10px;color: #3D4245;font-size: 15px;}
.cell1_dl dd{margin: 5px 0px;width: 100%;text-align: center;float: left;}
/*一列下面的显示和上边的radio对整齐*/
.cell1_justify{width: 90%;text-align:left;margin:10px auto 5px;line-height:30px;}
/*其他*/
.other_name{width: 50px;display: inline-block;margin: 5px 0px;}
.other_input{width: calc(100% - 60px);display: inline-block;margin: 5px 0px;}
.other_input>input[type="text"]{-webkit-appearance:none;border-radius:0;width: 100%;border: none;border-bottom: 1px solid #CCCCCC;}
/*文本域*/
.text_field{max-width: 100%;overflow: hidden;padding: 0 10px;}
.lable_title{font-size:14px;font-weight: normal; margin: 15px 0 10px;display: block;color: #333333;}
.textarea_block{height: 100px;overflow: hidden;margin:10px 0px;}
.textarea_block>textarea{padding:10px 5px;border: 1px solid #E6E6E6;height: calc(100% - 22px);width: calc(100% - 12px);resize: none;}

/*免疫功能多选*/
.mianyi_dd{width: 100% !important;}
.mianyi_dd .layui-form-checkbox{width: 95%;}
/*两列*/
.cell2_dl{padding: 0 10px;margin: 0;overflow: hidden;max-width: 100%;}
.cell2_dl dt{margin: 20px 0px 10px;color: #3D4245;font-size: 15px;}
.cell2_dl dd{margin: 5px 0px;width: 50%;text-align: center;float: left;}
.cell2_dl .layui-form-checkbox{margin:0;}
/*三列*/
.cell3_dl{padding: 0 10px;margin: 0;overflow: hidden;max-width: 100%;}
.cell3_dl dt{margin: 20px 0px 10px;color: #3D4245;font-size: 15px;}
.cell3_dl dd{margin: 5px 0px;width: 33.3333%;text-align: center;float: left;}
.cell3_dl .layui-form-checkbox{margin:0;}
/*十级连动服务*/
.ten_server{padding-top: 0;border:1px solid #E0E0E0;border-radius: 2px;padding: 20px 20px 30px;font-size: 13px;margin: 10px;}
.ten_server>h3{text-align: center;}
.ten_server>h5{text-align: center;padding: 10px 0px 20px;}
.tenser_block{display: block;overflow: hidden;margin-bottom: 20px;}
.tenser_block>label{color:#3D4245;display: inline-block;width: 40px;}
.tenser_block .ten_input{width: calc(100% - 60px);color:#3D4245;padding:5px;display: inline-block;border-radius: 2px;outline: none;-webkit-appearance: none;border: 1px solid #E0E0E0;}
.xj_end{margin:10px;}
.xj_end p{text-indent:20px;text-align: justify;line-height: 20px;margin-bottom:15px;}
.medic_ul{max-width: 100%;margin:10px 0;padding: 0;}
.medic_ul li{overflow: hidden;clear: both;margin-bottom: 15px;}
.medic_ul li>span{vertical-align: middle;margin-bottom: 5px;display: inline-block;}
.medic_text_w{width:50px;border: none;border-bottom: 1px solid #CCCCCC;margin-bottom: 5px;text-align: center;}
.medic_end{padding:10% 0px 30%;float: right;font-weight: bold;}
.left_w1{width:190px;}
.right_w1{width: calc(100% - 210px);}
.left_w2{width:80px;}
.right_w2{width: calc(100% - 100px);}
/*内边距*/
.pad_t0{padding-top: 0;}
/*外边距*/
.mar_lr10{margin-left: 10px;margin-right: 10px;}
.mar_t15{margin-top: 15px;}
.mar_tb5{margin: 5px 0px !important;}
.mar_b15{margin-bottom: 15px;}
.w_point100>.layui-form-checkbox{width: 95%;}
